.searchBox {
  width: 376px;
  margin: 20px auto;
}

.searchBox input {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #423d3d;
  transition: border-color 0.25s;
  border-radius: 4px;
}

.searchBox input:active,
.searchBox input:hover,
.searchBox input:focus {
  border-color: #087a08;
  outline: none;
}
